<%= turbo_frame_tag 'article_form', target: '_top' do %>
  <%= form_with(model: article,
                data: {
                  controller: 'reset-form',
                  action: 'turbo:submit-end->reset-form#reset'
                }) do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
  
        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div class="actions">
      <button>
        <span class="show-when-enabled">Submit</span>
        <span class="show-when-disabled">Submitting...</span>
      </button>
    </div>
  <% end %>
<% end %>
