<div class="w-96 mx-auto">
  <dialog data-controller="dialog"
          data-dialog-target="dialog"
          data-action="turbo:frame-load->dialog#open turbo:submit-end->dialog#close">
    <%= turbo_frame_tag "book_form_dialog", target: "_top" %>
  </dialog>
  <div class="flex justify-between py-2">
    <h1 class="text-2xl font-bold">Books</h1>
    <%= link_to "New book", new_book_path, data: { turbo_frame: 'book_form_dialog' }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <div class="[&>nav]:flex [&>nav]:gap-2 [&_a]:text-blue-700">
    <%= paginate @books %>
  </div>
  <div class="mt-4" id="books">
    <%= render partial: 'list_book', collection: @books, as: :book %>
  </div>
  <div class="[&>nav]:flex [&>nav]:gap-2 [&_a]:text-blue-700">
    <%= paginate @books %>
  </div>
</div>

